{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.9.0"
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "app": "./dist/app",
        "domain": "./dist/domain",
        "infrastructure": "./dist/infrastructure"
      }
    }]
  ]
}
